<header class="mt-3">
    <div class="w-75 mx-auto">
        <div class="d-flex justify-content-between">
            <div class="w-25 d-flex justify-content-around">
                <p>Home</p>
                <p>Listing</p>
            </div>
            <div class="w-50 text-center">
                <h6>Be Green</h6>
            </div>
            <div class="w-25 d-flex justify-content-around">
                <p>S'inscrire</p>
                <p>Se connecter</p>
            </div>
        </div>
    </div>
</header>