{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        {% include '_includes/_filter.html.twig' %}
    </div>
    <div>
        {% include '_includes/_vehicle_cards.html.twig' %}
    </div>
{% endblock %}
