{{ form_start(form) }}
<div class="row">
    <div class="col-md-5">
        {{ form_widget(form.search, { attr : { class : 'rq-form-control'}}, { label_attr : { class : 'd-none'}}) }}
    </div>
    <div class="col-md-5 ">
        <button type="submit" class="rq-form-control rounded">Submit</button>
    </div>
</div>
{{ form_end(form) }}

