<div class="col-3">
    <div class="row">
        {% for vehicle in vehicles %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ vehicle.VehicleBrand }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">no vehicle found for this sorting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>