<div class="filter-form-container d-flex align-items-center justify-content-end">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtre
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="" id="dateFilter">
                <button class="dropdown-item" type="button">Les plus récentes</button>
            </a>
            <a href="" id="likesFilter">
                <button class="dropdown-item" type="button">Les plus aimées</button>
            </a>
            <a href="" id="viewsFilter">
                <button class="dropdown-item" type="button">Les plus vues</button>
            </a>
        </div>
    </div>
</div>