{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="fakeloader">
        <div class="spinner5">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div id="main-wrapper">

        <div class="rq-page-content">
            <div class="rq-content-block gray-bg small-padding-top">
                <div class="container">

                    <div class="rq-car-listing-wrapper">
                        <div class="rq-listing-choose rq-listing-list">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car1.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">BMW</h5>
                                            <h3 class="car-name"><a href="#">BMW M6 Gran Coupé</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$39</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car2.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">FORD</h5>
                                            <h3 class="car-name"><a href="#">Ford Shelby GT500</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$19</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car3.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">AUDI</h5>
                                            <h3 class="car-name"><a href="#">AUDI R8 2011</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$42</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car4.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">Mercedes</h5>
                                            <h3 class="car-name"><a href="#">Mercedes-Benz-C-Class</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$66</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car5.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">AUDI</h5>
                                            <h3 class="car-name"><a href="#">AUDI RS7 2015</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$18</span> / day
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car6.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">BMW</h5>
                                            <h3 class="car-name"><a href="#">Sport Car</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$25</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car7.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">NISSAN</h5>
                                            <h3 class="car-name"><a href="#">Nissan 370Z</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$29</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car8.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">AUDI</h5>
                                            <h3 class="car-name"><a href="#">AUDI R8 2016</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$32</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="listing-single">
                                        <div class="listing-img">
                                            <img src="img/car-listing-grid/car9.jpg" alt="">
                                        </div>
                                        <div class="listing-details">
                                            <h5 class="car-brand">BMW</h5>
                                            <h3 class="car-name"><a href="#">BMW i8</a></h3>
                                            <ul class="rating-list">
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                                <li><i class="ion-star"></i></li>
                                            </ul>
                                            <ul>
                                                <li>Class: <span>Premium</span></li>
                                                <li>Air Condition: <span>Yes</span></li>
                                                <li>Body Style: <span>Sedan</span></li>
                                                <li>Transmission: <span>Automatic</span></li>
                                            </ul>
                                            <div class="listing-footer">
                                                <span><a href="#">Details</a></span>
                                                <span>
                            Starting at <span class="price">$40</span> / day
                          </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rq-pagination">
                            <nav>
                                <ul class="rq-pagination-list">
                                    <li class="pagin-text">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="arrow_left"></i> Prev</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a class="center-dot" href="#">...</a></li>
                                    <li><a href="#">12</a></li>
                                    <li class="pagin-text">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">next <i class="arrow_right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>  <!-- /.rq-content-block -->
        </div>

    </div> <!-- end #main-wrapper -->

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}" ></script>

{% endblock %}
